{
    "server": {
        "host": "irc.example.com",
        "port": 6669,
        "user": "Spixy",
        "nick": "HA-Spixy",
        "name": "High Availibility Spixy"
    },
    "plugins": [
        {
            "module": "spixy.plugins.friday:FridayPlugin",
            "config": {
                "trigger": "%isitfriday"
            }
        },
        {
            "module": "spixy.plugins.converter:ConverterPlugin",
            "config": {
                "trigger": "%bin"
            }
        }
    ],
	"autojoin": ["#example", "#chan"],
	"DecisionPlugin": {
	    "trigger": "%d",
	    "choices": ["Yes", "No"],
	    "indicator": " or ",
	    "separators": [",", " or "]
	},
    "FridayPlugin": {
        "trigger": "%isitfriday?"
    },
    "TitlePlugin": {
        "trigger": "%t"
    },
    "OldUrlPlugin": {
        "format": "{nick}: {url} has been posted {times} times, your score is: {score}"
    }
}
